.create_new_btn{
    background-color: transparent;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding : 0.25rem;
    font-size : var(--font-menu-btn-size);
}

.create_new_btn svg {
    width: calc(var(--font-menu-btn-size) + (var(--font-menu-btn-size) / 4)) ;
    fill : var(--primary-color);
}