.create_new_btn{
    background-color: brown;
    padding : 0.25rem 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.create_new_btn svg {
width: 1.5rem;
}