.download_btn{

    width: 5rem;
    aspect-ratio: 1/1;

    border-radius: 50%;
    border-color: red;
    border-style: solid;


    
    position: relative;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download_btn svg {
    width: 50%;
    fill: red;

}

.download_btn:hover {
    background-color: red;
}

.download_btn:hover svg {
    fill : white;
}