
.home_btn{
    position: relative;
    background-color: transparent;
    /* background-color: red; */
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding : 0.25rem;
    color : #ffffff;
    font-size: var(--font-menu-btn-size);
}

.home_btn svg{
    width: calc(var(--font-menu-btn-size) + (var(--font-menu-btn-size) / 4)) ;
    fill : var(--primary-color);
}

.home_btn svg path{

}