@import 'src\vars.module.css';

.dropdown {
    position: absolute;
    top : 100%;
    left : 0;
    background-color: var(--color-black-2);
    z-index: 1;
    flex-grow: 1;
    white-space: nowrap; /* Prevents text wrap */
    list-style-type: none;
    display: none;

    font-size: var(--font-menu-btn-size);

    border-radius: 0.2rem;
    overflow: hidden;

    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.74);
}

.btn_container {
    position: relative;
    display: flex;
    flex-direction: column;
}




.button {
    /* background-color : violet; */
    /* background-color:  var(--color-black); */
    padding : 0.25rem;
    font-size: var(--font-menu-btn-size);
    border-radius: 0.1rem;
}

.button:hover {
    background-color: var(--color-black-hover);
}

.button.active{
    background-color: var(--color-black-hover); 
}

.button.inactive{
    background-color: transparent;
}

.dropdown li{
    display: flex;
    gap: 2rem;
    padding : 0.25rem 0.5rem ;
    cursor:default;
    
    /* background-color: blue; */
}

.dropdown .label{
    color: rgba(255, 255, 255, 1);
}
.dropdown .shortcut{
    color: rgba(255, 255, 255, 0.5);
}

.dropdown li:hover {
    background-color: var(--color-black-hover);
}

.dropdown.hidden {
    display: none;
}

.dropdown.visible {
    display: flex;
    flex-direction: column;
}
