.menu_bar{
    position: relative;
    background-color: red;

    
    /* Font style */
    font-size : 1.25rem;
    font-weight: 500;

    /* Display Style */
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;

    padding:0.25rem 0rem ;
}

.section_1{
    position: relative;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.section_2{
    position: relative;
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    gap: 1.0rem;

    border-left: 0.2rem solid yellow;
}