.menu_bar{
    position: relative;
    background-color: var(--color-black);


    /* Font style */
    font-size : 1.25rem;
    font-weight: 500;

    /* Display Style */
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:0.25rem 0.5rem ;

    gap : 0.5rem;
}

.section_1{
    position: relative;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap : 0.25rem;
}

.section_2{
    position: relative;
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 0.25rem;
    /* border-left: 0.2rem solid yellow; */
}